body {
    color:#0b0b92;
}
.admin {
    background-color:#ccc;
    .gallery {
        display:flex;
        flex-wrap: wrap;
        .card {
            flex-basis:25%;
        }
    }
    .album {
        text-align:center;
        .card-body {
            display:flex;
            justify-content: space-evenly;
        }
    }
}
