body {
    color: $green;
    background-color: darken($purple, 16%);
    color: lighten($green, 70%);
}
header {
    width: 90%;
    margin: 15px auto 0;
    text-align: center;
    img {
        width: 65%;
        margin-bottom: 10px;
    }
}
footer {
    margin: 15px 50px;
    padding: 25px;
    text-align: center;
    color: lighten($green, 80%);
    font-size: 0.8rem;
    p {
        line-height: 1.1rem;
        margin: 0;
    }
}
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: lighten($green, 25%);
}
span.required {
    color: $red;
}
.error {
    color: $red;
}
a {
    color: lighten($green, 25%);
}
a:hover {
    color: lighten($green, 40%);
}
.btn-primary {
    background-color: $purple;
    border-color: darken($purple, 5%);
}
.btn-primary:hover {
    background-color: darken($purple, 5%);
    border-color: darken($purple, 10%);
}
.btn-secondary {
    border-color: lighten($green, 5%);
    background-color: $green;
    color: #fff;
}
.btn-secondary:hover {
    border-color: $green;
    background-color: darken($green, 5%);
}

.artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    h3 {
        flex-basis: 100%;
    }
    img.portrait {
        margin-right: 15px;
        border-radius: 25px;
    }
    ul {
        padding-left: 50px;
        list-style: none;
        font-size: 1.1em;
        li {
            margin-top: 2px;
        }
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 20%;
        a {
            margin-bottom: 10px;
            line-height: 1.15em;
        }
    }
}
.artist:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    border-bottom: 2px solid $purple;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: 10px auto;
    width: 400px;
    border-bottom: 1px solid $purple;
    font-size: 1.4em;
    line-height: 1.5em;
    div {
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }
    ul {
        padding: 0;
        margin: 0 15px;
        flex-basis: 50%;
    }
}
header.gallery {
    display: flex;
    flex-wrap: nowrap;
    .title {
        flex-basis: 85%;
        text-align: center;
    }
    label {
        color: #ccc;
        margin: 0 5px;
    }
    p {
        color: #ccc;
        line-height: 1.1em;
    }
}
.piece {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2 {
        flex-basis: 100%;
        text-align: left;
    }
    .piece-info {
        margin: 15px;
        align-self: flex-start;
        p {
            font-size: 1.3em;
            line-height: 1.5em;
            margin: 0;
        }
    }
}
.thumbs {
    margin-top: 20px;
    p {
        margin: 0;
    }
}
footer.piece {
    font-size: 2em;
}
div.gallery {
    .piece {
        margin-bottom: 10px;
        padding: 15px;
        border-bottom: 1px solid $green;
        justify-content: center;
        .info {
            padding: 25px;
        }
        p {
            font-size: 1.15em;
            line-height: 1.2em;
            margin: 0;
        }
    }
    .left {
        .info {
            order: 2;
            margin-left: 25px;
        }
    }
    .right {
        .info {
            order: -1;
            margin-right: 25px;
        }
    }
}

ul.contact-list {
    font-size: 2em;
    margin-left: 25px;
}

.photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caption {
    text-align: center;
    flex-basis: 100%;
}
.pagination {
    justify-content: center;
}
.page-link {
    color: $purple;
}
.page-item.active .page-link {
    background-color: $purple;
    border-color: $purple;
}

.admin {
    background-color: lighten($purple, 75%);
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .artist {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        border: 1px solid $purple;
        border-radius: 4px;
        margin-bottom: 3px;
        width: 700px;
        .portrait {
            width: 150px;
            margin-right: 20px;
        }
        span {
            margin: 10px;
            p {
                margin: 2px;
                font-size: 1.25em;
            }
        }
        .actions {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            form {
                margin-top: 10px;
            }
        }
    }
    .card {
        flex-basis: 25%;
        padding: 10px;
    }

    .album {
        text-align: center;
        .card-body {
            display: flex;
            justify-content: space-evenly;
        }
    }
    .event {
        .card-header {
            display: flex;
            justify-content: space-between;
        }
    }
}
