body {
    color: $purple;
    footer {
        margin: 15px 50px;
        padding: 25px;
    }
}

.btn-primary {
    background-color: $purple;
    border-color: darken($purple, 10%);
}

.admin {
    background-color: lighten($purple, 75%);
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .artist {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        border: 1px solid $purple;
        border-radius: 4px;
        margin-bottom: 3px;
        .portrait {
            width: 150px;
            margin-right: 20px;
        }
        span {
            p {
                margin: 2px;
                font-size: 1.25em;
            }
        }
    }
    .card {
        flex-basis: 25%;
        padding: 10px;
    }

    .album {
        text-align: center;
        .card-body {
            display: flex;
            justify-content: space-evenly;
        }
    }
    .event {
        .card-header {
            display: flex;
            justify-content: space-between;
        }
    }
}
